@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

.board-container > div {
  max-width: 95vh;
}

input {
  outline: 0;
  border-width: 0 0 2px;
  border-color: #404040;
  background: transparent;
}

input:focus {
  border-color: #3790db;
  outline: 1px dotted #000;
}

@layer base {
  input[type="number"].appearance-none::-webkit-inner-spin-button,
  input[type="number"].appearance-none::-webkit-outer-spin-button {
      -webkit-appearance: none !important;
      margin: 0 !important;
  }

  input[type="number"].appearance-none {
      -moz-appearance: textfield !important;
  }
}